VITE_CLERK_PUBLISHABLE_KEY=your_clerk_key
VITE_API_BASE_URL=http://localhost:8000
VITE_AUTH_ENABLED=false

# features
VITE_FEATURE_ANNOTATE_PAGE=true
VITE_FEATURE_SIDEBAR_PROJECTS=true
VITE_FEATURE_SIDEBAR_DATA_ACQUISITION=true
VITE_FEATURE_SIDEBAR_IMPORT=true
VITE_FEATURE_SIDEBAR_AI=true
VITE_FEATURE_SIDEBAR_FILTER=true
VITE_FEATURE_SIDEBAR_STATS=true
VITE_FEATURE_SIDEBAR_MODEL_ANALYSIS=true
VITE_FEATURE_SIDEBAR_EXPORT=true
VITE_FEATURE_SIDEBAR_PROJECT_SETTINGS=true
VITE_FEATURE_PAGE_SUBSCRIPTION=true
VITE_FEATURE_PAGE_ORGANISATION=true
VITE_FEATURE_PAGE_SETTINGS=true
